body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #FFD2C9;
    padding: 10px;
    border-bottom: 1px solid #44633F;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #823038;
    font-weight: bold;
}

.nav-link:hover {
    color: #634D42;
}

.upload-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #C6E2B5;
    border: 1px solid #44633F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    margin-bottom: 5px;
    color: #823038;
    font-weight: bold;
}

#image {
    margin-bottom: 20px;
}

.description-container,
.price-container {
    margin-bottom: 20px;
}

#description {
    width: 100%;
    padding: 10px;
    border: 1px solid #44633F;
    border-radius: 5px;
    resize: none;
    background-color: #F1E0E0;
}

#price {
    width: 50%;
    padding: 10px;
    border: 1px solid #44633F;
    border-radius: 5px;
    background-color: #F1E0E0;
}

.submit-button {
    padding: 10px 20px;
    background-color: #FFD2C9;
    color: #823038;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #FFC499;
    color: #634D42;
}

h1 {
    color: #823038;
}